* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

/* Contenedor de texto */
#txt {
    padding: 10px;
}

/* Nombre del personaje */
h1 {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
    text-align: center;
}

/* Detalles adicionales */
p {
    margin: 5px 0;
    color: #666;
    font-size: 0.9rem;
}